<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p style="background-color: rgb(255, 255, 255);">Здравствуйте, вы авторизованы как #ПолноеНаименованиеПартнера#. </p>
<p style="background-color: rgb(255, 255, 255);">Доступные организации: #НаименованиеАбонентов#. </p>
<p style="background-color: rgb(255, 255, 255);"><a href="incident">Список ваших обращений (#КоличествоОбращений#).</a></p>
<div>
<p style="background-color: rgb(255, 255, 255);"><strong>Ваша контактная информация:</strong><br>#КонтактнаяИнформация#</p>
</div></body></html>